---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid.astro";
import LineNums from "../components/LineNums.astro";
---

<Layout title="Josh Wilson, Software Engineer">
  <main class="my-6 w-full flex-grow">
    <Grid>
      <h1
        id="introduction"
        class="mb-2 font-display text-3xl leading-snug xs:text-3xl"
      >
        <span class="hidden xs:inline">An Introduction to the</span>
        <span class="inline xs:hidden">The</span>
        Life and Works of <b>Josh Wilson</b>,
        {/* Don't leave "Engineer" hanging on its own line */}
        <span class="whitespace-nowrap">Software Engineer</span>
      </h1>
      <p class="font-display text-lg">Second Edition</p>
      <p class="text-sm">The Classic Work, Newly Updated and Revised</p>
    </Grid>
    <Grid class="prose prose-stone mt-10 max-w-none dark:prose-invert">
      <h2 id="abstract" class="mt-0 font-display dark:font-normal">
        <span class="sr-only">1</span>
        <span aria-hidden>I</span>
        – Abstract
      </h2>
      <p>
        I am inspired by the myriad ways the science and application of software
        can <b>positively</b> impact humans across the world.
      </p>

      <p>To me, the best parts of making software are</p>
      <ol>
        <li>
          <b>continuously learning</b> fascinating concepts and technologies freely
          shared by those before me, and
        </li>
        <li>
          leveraging these with good taste & design to make products that
          <b>delight users</b>.
        </li>
      </ol>
      <p>
        With other engineers and on my own, I’ve built complex, resilient
        products for meeting diverse needs with modern web technologies.
      </p>
      <LineNums lines={100} slot="left" />
    </Grid>
  </main>
</Layout>
