---
import Layout from "layouts/Layout.astro";
import Card from "components/Card.astro";

export const prerender = true;
---

<Layout title="Works">
  <h1 id="works" class="sr-only">Works</h1>

  <ul>
    <li>
      <a href="eslint-plugin-solid">
        <h2>ESLint Plugin Solid</h2>
        <p>Lint Rules to Assist Solid Developers</p>
      </a>
    </li>
    <li></li>
  </ul>
</Layout>
