---
const thisYear = new Date().getFullYear();
const copyright = thisYear === 2023 ? "2023" : `2023–${thisYear}`;
---

<footer class="mt-auto select-all px-6 py-4 text-xs">
  <div>&copy; {copyright} Josh Wilson</div>
</footer>
