---
const thisYear = new Date().getFullYear();
const copyright = thisYear <= 2023 ? "2023" : `2023–${thisYear}`;
---

<footer
  class="mx-auto mt-auto w-full max-w-page px-6 pb-4 pt-10 text-xs xs:px-12"
>
  <div>
    Made with <span aria-label="love">♡</span> in Raleigh, NC &middot; &copy; {
      copyright
    }
  </div>
</footer>
