---
const thisYear = new Date().getFullYear();
const copyright = thisYear === 2023 ? "2023" : `2023–${thisYear}`;
---

<footer
  class="mx-auto mt-auto w-full max-w-7xl select-all px-6 pb-4 pt-10 text-xs xs:px-12"
>
  <div>&copy; {copyright} Josh Wilson</div>
</footer>
