---
import DarkModeToggle from "./DarkModeToggle";

const isWorks = Astro.url.pathname === "/works";
const isWritings = Astro.url.pathname === "/writings";
const isHome = ![isWorks, isWritings].some(Boolean);
---

<header>
  <nav
    class="flex items-center justify-start gap-6 overflow-x-auto px-6 py-4 underline-offset-4"
  >
    <a href="/" data-current={isHome} class="link data-[current]:underline">
      Home
    </a>
    <a
      href="/works"
      data-current={isWorks}
      class="link data-[current]:underline"
    >
      Works
    </a>
    <a
      href="/writings"
      data-current={isWritings}
      class="link data-[current]:underline"
    >
      Writings
    </a>
    <DarkModeToggle client:load class="ml-auto" />
  </nav>
</header>
