---
import clsx from "clsx";

const isWorks = Astro.url.pathname === "/works";
const isWritings = Astro.url.pathname === "/writings";
const isHome = !isWorks && !isWritings;
---

<style>
  nav {
    display: flex;
    margin: 1rem 1.5rem;
    gap: 3ch;
    font-size: calc(20rem / 16);
    border-bottom: solid rgb(var(--fg-text) / 50%) 1px;
  }
  nav > a {
    text-decoration: none;
  }
  .current {
    /* Show a heavier bottom border over nav border */
    border-bottom: solid rgb(var(--fg-text)) 1px;
    margin-bottom: -1px;
  }
</style>
<nav>
  <a href="/" class={clsx(isHome && "current")}>Home</a>
  <a href="/works" class={clsx(isWorks && "current")}>Works</a>
  <a href="/writings" class={clsx(isWritings && "current")}>Writings</a>
</nav>
