body {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  overflow-wrap: break-word;
}

*:focus-visible {
  @apply outline-red-300;
}
.dark *:focus-visible {
  @apply outline-red-700;
}

::selection {
  @apply bg-red-200;
}
.dark ::selection {
  @apply bg-red-800;
}

.link {
  @apply hover:underline hover:decoration-2 focus-visible:underline focus-visible:decoration-2;
}
