---
import "./reset.css";
import "./fonts.css";
import Nav from "../components/Nav.astro";

export interface Props {
  title: string;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    /* Variables */
    --bg: 252 248 248;
    --fg-text: 0 0 0;
    --fg-primary: 193 68 68;

    --font-size: 1rem;
  }
  @media (min-width: 48rem) {
    :root {
      --font-size: 1.125rem;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: 48 42 42;
      --fg-text: 252 248 248;
    }
  }

  html {
    background-color: rgb(var(--bg));
    color: rgb(var(--fg-text));
  }
  body {
    font-size: var(--font-size);
  }
</style>
